$f-s-bg-colour: rgb(236, 221, 210);

.ActiveTestsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: min-content;
  width: 100vw;
  margin-top: 12rem;

  //align-items: center;

  .ActiveTestsHeader {
    font-family: Montserrat;
    font-size: 65px;
    font-style: normal;
    font-weight: 500;
    line-height: 59px;
    letter-spacing: 0.3rem;
    text-align: center;
    margin: 7rem 0 3rem;

    color: #3c5463;
  }
  .CarouselContainer {
    background-color: #efddd1;
    width: 100%;
    // height: calc(min-content + 1rem);
    height: min-content;
    padding: 0 10rem;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    // flex-direction: row;
    .Carousel {
      background: #efddd1;
      width: 80%;
      height: 50vh;

      ul {
        .Item {
          width: 31rem !important;
          display: flex;
          justify-content: center;
          // background-color: red;

          div {
            // background-color: aqua;
            div {
              background-color: rgba($color: #000000, $alpha: 0);
            }
          }
        }
      }

      .carRightArrow {
        background: rgba($color: #000000, $alpha: 0);
        border: none;
        position: absolute;
        // width: 2rem;
        right: -10px;
      }

      .carLeftArrow {
        background: rgba($color: #000000, $alpha: 0);
        border: none;
        position: absolute;
        // width: 2rem;
        transform: rotate(180deg);
        left: 10%;
      }
    }

    .Collapsible {
      width: 100%;
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
    }

    .CollapsibleContentOuter {
      width: 100%;
    }

    .CollapsibleContentInner {
      display: grid;
      // flex-wrap: wrap;
      grid-template-columns: repeat(4, 1fr);
      place-items: center;
      height: min-content;
    }

    .CollapsibleTrigger {
      margin: 1rem;
      transition: transform 400ms;
    }

    .CollapsibleTriggerOpen {
      margin: 1rem;
      transition: transform 400ms;
      transform: rotateX(180deg);
    }

    .AddTestCard {
      width: 276.87px !important;
      height: 289.87px;

      padding: 3rem;
      box-sizing: border-box;

      background: rgb(52, 72, 86);
      border-radius: 25px;

      font-size: 25rem;
      font-weight: 10px;
      color: white;

      display: flex;

      justify-content: center;
      align-items: center;

      span {
        margin: -0.1rem 0 0 0;
      }
    }
  }
}
