$f-s-bg-colour: rgb(236 221 210);

.ActiveTestsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  margin-top: 2rem;

  //align-items: center;

  .ActiveTestsHeader {
    font-family: Montserrat;
    font-size: 68px;
    font-style: normal;
    font-weight: 500;
    line-height: 59px;
    letter-spacing: 0em;
    text-align: center;
    margin: 10rem;

    color: #3c5463;
  }
  .CarouselContainer {
    background-color: #efddd1;
    width: 100%;
    padding: 0 10rem;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    // flex-direction: row;
    .Carousel {
      background: #efddd1;
      width: 80%;
      height: 50vh;

      ul {
        .Item {
          width: 31rem !important;
          display: flex;
          justify-content: center;

          div {
            div {
              background-color: #ffffff;
            }
          }
        }
      }

      .carRightArrow {
        background: rgba($color: #000000, $alpha: 0);
        border: none;
        position: absolute;
        width: 2rem;
        right: -10px;
      }

      .carLeftArrow {
        background: rgba($color: #000000, $alpha: 0);
        border: none;
        position: absolute;
        width: 2rem;
        transform: rotate(180deg);
        left: -10px;
      }
    }

    .AddTestCard {
      width: 23rem;
      height: 286px;

      background: rgb(52 72 86);
      border-radius: 25px;

      font-size: 25rem;
      font-weight: 10px;
      color: white;

      display: flex;

      justify-content: center;
      align-items: center;

      span {
        margin: -0.1rem 0 0 0;
      }
    }
  }
}
