.formContainer {

    background-color: #010713;
    height: 30vh;
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &.hidden {
        display: none;
    }

    .theForm {
        display: flex;
        flex-direction: column;
        input[type=text] {
            background-color: #010713;
            color: #cba992;
            border: 2px solid #cba992;
            border-radius: 12px;
            padding: 12px 168px;
            margin: 1rem 0 1rem 0;
        }
        input[type=submit] {
            background-color: #010713;
            color: #cba992;
            border: 2px solid #cba992;
            border-radius: 12px;
            padding: 12px 168px;
            font-family: "Montserrat", sans-serif;
        }
    }

}

