.formContainer {

    background-color: #010713;
    height: 30vh;
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    //position: absolute;

    &.hidden {
        display: none;
    }

    .formContainer {
        .theForm {
            display: flex;
            flex-direction: column;
            input[type=text] {
                background-color: #010713;
                color: #cba992;
                border: 2px solid #cba992;
                border-radius: 12px;
                padding: 12px 28px;
            }
            input[type=button] {
                background-color: #010713;
                color: #cba992;
                border: 2px solid #cba992;
                border-radius: 12px;
                padding: 12px 28px;
            }
        }
    }

}

