$transitionDuration: 0.3s;

.LangButton {
  position: static;
  color: rgb(52 72 86);
  border: none;
  width: 6rem;
  background-color: rgba($color: #000000, $alpha: 0);
  font-size: x-large;

  transition: color $transitionDuration ease-in;
  transition: background-color $transitionDuration ease-in;
  transition: border $transitionDuration ease-in;

  &.ButtonPressed {
    background-color: rgb(218 189 166);
    border-radius: 25px;
    border: solid rgb(218 189 166) 0.1rem;
    color: whitesmoke;
    appearance: none;
  }
  &:focus {
    outline: 0;
  }
}
