$bg-colour: rgb(190 171 155);

.PhotosContainer {
  margin: 0 1rem;
  display: grid;
  position: relative;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: auto;
  row-gap: 1.5rem;
  column-gap: 0.1rem;
  justify-items: center;
  width: 100%;
  img {
    width: 80%;
  }
}

.headerIconContainer {
  width: 90%;
  display: flex;
  margin: 0.5rem;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  label {
    width: 10%;
    input[type="file"] {
      display: none;
    }
    .uploadIcon {
      width: 2.5rem;
      background-color: $bg-colour;
      border: solid $bg-colour;
      border-radius: 50%;
    }
  }
}
