$f-s-bg-colour: rgb(223 188 163);
.TestCardBackground {
  display: flex;
  flex-direction: column;
  width: 276.87px;
  height: 289.87px;
  justify-content: center;
  align-items: center;
  overflow: scroll;

  padding: 3rem;

  .TestCard {
    padding: 1rem;
    width: 100%;
    height: 100%;
    background-color: $f-s-bg-colour;
    box-sizing: border-box;
    border-radius: 25px;
    word-wrap: break-word;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .CardHeader {
      font-family: Montserrat;
      font-size: 24px;
      font-style: normal;
      font-weight: 500;
      line-height: 22px;
      letter-spacing: 0em;
      text-align: center;
      width: 90%;
      margin: 0;
    }

    .TestLastEdit {
      // align-self: flex-end;
      position: relative;
      bottom: -20%;
      font-size: 20px;
    }

    .ToggleTTContainer {
      display: flex;
      width: 90%;
      height: 10%;
      margin: 1rem 0 0 0;
      justify-content: space-between;

      .TestType {
        margin: 0.5rem 0 0;
        font-size: larger;
      }
    }

    .EditIcon {
      // filter: invert(1);
      background: none;
      border: none;
      width: min-content;
      position: relative;
      top: -25%;
      left: 35%;
    }

    .DeleteIcon {
      background: none;
      border: none;
      width: min-content;
      position: relative;
      top: -102.5%;
      left: 55%;
    }
  }
}
