.testCardContainer {
  background-color: #cba992;
  width: 12rem;
  height: 11rem;

  padding: 0 1rem 0 1rem;
  border: 2px solid #cba992;
  border-radius: 12px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: #2f4858;
  .testName {
    color: #2f4858;
    text-align: center;
    max-height: 30%;
    width: 200px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
}
