.testCardContainer {
    background-color: #cba992;
    width: 25vw;
    height: 20vh;
    margin: 0 2rem 2rem 0;
    border: 2px solid #cba992;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    .testName {
        color: #010713;
        text-align: center;
    }
}