.testCardContainer {
    background-color: #cba992;
    width: 20vw;
    height: 18vh;
    margin: 0 2rem 2rem 0;
    border: 2px solid #cba992;
    border-radius: 12px;
    .testName {
        color: #010713;
    }
}