$bg-colour: rgb(190 171 155);

.CreateTestContainer {
  img {
    justify-self: flex-start;
    align-self: flex-start;
  }

  color: #2f4858;

  box-sizing: border-box;
  position: fixed;
  width: 100vw;
  height: 100vh;
  padding: 2rem 4.5rem;
  display: grid;
  // grid-template-columns: 48% 1fr;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(13, 1fr);
  column-gap: 1.6rem;
  row-gap: 1rem;
  justify-items: center;

  .TestType {
    grid-row: 3;
    grid-column: 1;
    height: 4rem;
    align-self: flex-end;
    width: 100%;
    height: 100%;
    display: flex;
    justify-self: flex-start;
    justify-content: center;
    align-items: flex-start;

    // .TestTypeSelect {
    //   background: #efddd1;
    //   border-radius: 16.5px;
    //   width: 100%;
    // }
  }

  .LangSwitcher {
    grid-row: 2;
    grid-column: 4;
    justify-self: flex-end;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    // align-items: center;
    width: 100%;
    height: 100%;
    // background: #efddd1;
    // border-radius: 17px;

    .LangSwitcherHeader {
      justify-self: center;
      align-self: center;
      margin: 0;
      font-family: Montserrat;
      font-style: normal;
      font-weight: 500;
      font-size: 40px;
      line-height: 29px;
      display: flex;
      align-items: center;
      text-align: center;
    }

    .LangSwitches {
      display: flex;
      flex-direction: row;
      align-self: center;
      width: min-content;
      justify-content: flex-end;

      .LScontainer {
        display: flex;
        align-items: center;
        height: min-content;
        margin: -0.5rem 0rem 0 1rem;
        // justify-content: space-between;

        input[type="radio"]:after {
          width: 57px;
          height: 57px;
          border-radius: 50%;
          top: -20px;
          left: -19px;
          position: relative;
          background-color: #2f4858;
          -webkit-box-shadow: inset 0px 0px 15px -6px #000000;
          box-shadow: inset 0px 0px 15px -6px #000000;
          content: "";
          display: inline-block;
          visibility: visible;
          border: 2px solid white;
          transition: background-color 0.3s ease-in-out;
        }

        input[type="radio"]:hover {
          filter: brightness(0.9);
        }

        input[type="radio"]:checked:after {
          // width: 15px;
          // height: 15px;
          // border-radius: 15px;
          // top: -2px;
          // left: -1px;
          // position: relative;
          background-color: rgb(11 180 150);
          content: "";
          display: inline-block;
          visibility: visible;
          border: 2px solid white;
        }

        .LSswitchLabel {
          // margin-left: 3rem;
          // margin: 0 0 0 1rem;
          pointer-events: none;
          color: whitesmoke;
          position: relative;
          z-index: 1;
          flex-grow: 4;
          font-family: Montserrat;
          font-style: normal;
          font-weight: 500;
          font-size: 15px;
          line-height: 22px;
          left: -20px;
          bottom: -6px;
        }
      }
    }

    .singleLangSwitcher {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-around;
      align-items: center;
    }
  }

  .PageController {
    grid-row: 8/12;
    grid-column: 1/3;
    font-size: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
  }
  .AddPageCont {
    // margin: -3rem 0 0;
    grid-row: 6/8;
    grid-column: 1;
    width: 50%;
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    justify-self: flex-start;
    align-self: flex-start;
    align-items: flex-start;

    .CounterHeader {
      font-family: Montserrat;
      font-style: normal;
      font-weight: 500;
      font-size: 30px;
      // margin-left: 1.7rem;
      align-self: end;
    }

    .PageControllerBtnsContainer {
      display: flex;
      align-content: center;

      margin: 0 0 0 -1rem;

      justify-content: space-around;
      width: 15rem;
      .ChangePagesBtn {
        background-color: rgba(0, 0, 0, 0);
        border: none;
        padding: 0;

        &:disabled {
          // background-color: rgba(0, 0, 0, 1);
          filter: opacity(0.5);
        }
      }

      .pagesNumberIndicator {
        border: 2px solid #e0bca3;
        box-sizing: border-box;
        border-radius: 8px;
        font-size: xx-large;
        width: 3rem;
        height: 3rem;
        text-align: center;
        align-self: center;
      }
    }
  }

  .TestNaming {
    grid-row: 4;
    // grid-column: 1/2;
    width: 100%;
    // height: 3rem;
    justify-self: flex-start;
    // align-self: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    background: #efddd1;
    border-radius: 16.5px;

    input {
      width: 60%;
      height: 30%;
      border: solid $bg-colour;
      background-color: $bg-colour;
      border-radius: 25px;
      font-size: xx-large;
    }

    .lgSelect {
      width: 30%;
      background-color: $bg-colour;
      border: solid $bg-colour;
    }
  }

  // .PhotoManager {
  //   width: 100%;
  //   grid-row: 4/5;
  //   grid-column: 1/2;
  //   border: solid $bg-colour 0.1rem;
  //   border-radius: 25px;
  //   position: static;
  //   display: flex;
  //   flex-direction: column;
  //   justify-content: center;
  //   align-items: center;

  // }

  .TestPreview {
    grid-row: 3/12;
    grid-column: 3/5;
    background-color: rgb(236 221 210);
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
    border: solid rgb(222 213 205) 1px;
    border-radius: 17px;
    box-sizing: border-box;
    padding: 1rem;

    .TPHeader {
      font-family: Montserrat;
      font-style: normal;
      font-weight: 500;
      font-size: 30px;

      line-height: 29px;
      margin: 0.5rem 0 1rem;
    }
  }

  .SaveTestBtn {
    border: none;
    background-color: rgba(0, 0, 0, 0);
    grid-row: 12/14;
    grid-column: 4;
    justify-self: flex-end !important;
    place-self: center;
    width: 200px;
    height: 59px;
    left: 1637px;
    top: 927px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 29px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #ffffff;
    &:disabled {
      // background-color: rgba(0, 0, 0, 1);
      filter: opacity(0.5);
    }
  }

  .ExitBtn {
    width: 200px;
    height: 59px;
    background-color: rgba(0, 0, 0, 0);
    border: none;

    // font-family: Montserrat;
    // font-style: normal;
    // font-weight: 500;
    // font-size: 40px;
    // line-height: 29px;

    // display: flex;
    // justify-content: center;
    // align-items: center;
    align-self: center;
    justify-self: flex-start;

    grid-row: 12/14;
    grid-column: 1;
    // font-size: xx-large;
    // text-align: center;
    // border: solid #2f4858;
    // border-radius: 20px;
    // width: min-content;
    // padding: 0 1rem;
    // height: 3rem;
    // color: whitesmoke;
    // background-color: #2f4858;
  }

  .FPEditorMainContainer {
    grid-row: 3/6;
    grid-column: 2;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  button:hover {
    filter: brightness(1.5);
  }
}
