@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

.MainContainer {
  font-family: "Montserrat";

  .FMLogo {
    position: absolute;
    width: 183px;
    height: 67px;
    left: 65px;
    top: 35px;
  }

  
}
