.pageContainer {
    background-color: #010713;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;

    #MMlogo{
        position: absolute;
        top: 0;
        left: 0;
        margin: 2rem 0 0 2rem;
    }
}