.pageContainer {
    background-color: #010713;
    color: #cba992;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    #MMlogo {
        width: 167px;
        opacity: 0.52;
        position: absolute;
        top: 0;
        left: 0;
        margin: 2rem 0 0 2rem;
    }

    .textContainer {
        text-align: center;
    }

    .finishBtn {
        margin-top: 3rem;
        background-color: #cba992;
        color: #010713;
        border: 2px solid #cba992;
        border-radius: 12px;
        padding: 12px 218px;
    }

}